extends layout
block header-link
    link(rel='stylesheet', href='/BootstrapSwitch/css/bootstrap3/bootstrap-switch.min.css')
    link(rel='stylesheet', href='/stylesheets/loader.css')
block content
    .logo-header
        p Twitter Live Streamer
    .header
        .container
            .text-center.search-text
                h3 Search            
            .row
                .search-bar.col-lg-12.col-md-12.col-sm-12
                    .icon-addon.addon-md
                        input#searchText.form-control(type='text', placeholder='Search for event')
                        label.glyphicon.glyphicon-search(for='searchText', style='color:white;')
                
    .main
        .row            
            .panel.panel-default.d-analysis-panel(style='margin-top:20px; margin-right:50px; margin-left:50px;')
                .panel-body.text-center
                    .col-md-4                        
                        .row
                            .d-top-words(style="margin-top:30px;")
                        .row(style="margin-top:40px;")
                            button.btn.btn-success.d-get-more(style="position:relative; top:200px;") Get More Data
                        
                    .col-md-4
                        .pause-bar(style="margin-top:30px;")
                            label(style="color:#333; font-size:18px; font-weight:300;") Live Tweets:&nbsp
                            input#liveToggle(type="checkbox" name="my-checkbox" checked)
                        .windows8(style="margin-top:60px;")
                            .wBall#wBall_1
                                .wInnerBall
                            .wBall#wBall_2
                                .wInnerBall
                            .wBall#wBall_3
                                .wInnerBall
                            .wBall#wBall_4
                                .wInnerBall
                            .wBall#wBall_5
                                .wInnerBall
                    .col-md-4.d-sentiment-chart
                        h4(style=" margin-top:30px;") Sentiment Analysis
                        iframe#sentimentiframeID(src="/test.html" style="height:300px; width: 500px; border:none; margin-top:20px;")
        .row.moreDataLabel(style="margin-left:50px; margin-right:50px; text-align:center")
            h4(style="display:inline-block;") Analysis Data
            a(href="javascript:void(0);").export
                h4.pull-right(style="display:inline-block;") Export
        .row.moreTable(style="margin-left:50px; margin-right:50px; overflow: auto; height:500px;")            
            .table-responsive
                table.table.table-bordered
                    thead
                        tr
                            th  HashTags
                            th Locations
                            th PeoplaNames
                            th Organizations
                            th Companies
                            th Teams
                            th SentimentWords
                    tbody#moreTableBody
        .row.visualizationLabel(style="margin-top:50px;margin-left:50px; margin-right:50px; text-align:center")
            h4 Visualization
        .row#dataTree(style="margin-left:50px; text-align:center;")
            iframe#dataTreeIframe(src='/circlepacking.html' style="height:550px;; width: 550px; border:none; margin-top: 20px;")
        .row.content(style="margin-bottom: 20px;")
            .col-sm-4.col-md-4
                h4(style="text-align:center;") Positive Tweets
                .d-col-positive

            .col-sm-4.col-md-4
                h4(style="text-align:center;") No Sentiment Tweets
                .d-col-noSentiment

            .col-sm-4.col-md-4
                h4(style="text-align:center;") Negative Tweets
                .d-col-negative

    .footer
        div(style='height:50px;')
            p(style="font-size:20px; padding-top:20px; color:white;") Twitter liver streamer @ all rights reserved

block footer-script
    script(src="/BootstrapSwitch/js/bootstrap-switch.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
    script(src="/javascripts/FileSaver.min.js")
    script.
        var socket, jsonDataSave;
        $(document).ready(function(){
            $("[name='my-checkbox']").bootstrapSwitch();
            $('.windows8').hide();
            $('.pause-bar').hide();
            $('.d-analysis-panel').hide();
            $('.content').hide();

            //Set the more table
            
            //Hide scale Table
            $('.moreTable').hide();
            $('#dataTree').hide();
            $('.visualizationLabel').hide();
            $('.moreDataLabel').hide();
            
            var ip = location.host;
            console.log(ip);
            //socket = io.connect("#{ip}"+":3000");
            socket = io.connect(ip);
            
            socket.on('connect', function(data) {                
            });

            socket.on('posTwit', function(data) {
                //console.log(data);
                var posHTML = 
                    '<div class="panel panel-default" style="margin-top:20px; margin-left:50px;">'+
                        '<div class="panel-body">'+
                            '<div class="pull-right" style="color:green;">'+
                                Math.round(data.comparative*100) + '%' +
                            '</div>'+
                            '<div class="">'+
                                '<a href="https://twitter.com/AlexCanion/status/' + data.id_str + '" style="color:#333;" target="popup" onclick="window.open(\'https://twitter.com/AlexCanion/status/' + data.id_str + '\', \'popup\', \'width=600,height=600\'); return false;">' +
                                    '<p>'+
                                        data.text +
                                    '</p>'+
                                '</a>'+
                                '<p class="pull-right">'+
                                    data.created_at
                                '</p>'+
                            '</div>'+
                        '</div>'+
                    '</div>';
                $('.d-col-positive').prepend(posHTML);

                showTopWords(data);
            });

            socket.on('negativeTwit', function(data){
                var posHTML = 
                    '<div class="panel panel-default" style="margin-top:20px; margin-right:50px;">'+
                        '<div class="panel-body">'+
                            '<div class="pull-right" style="color:darkred;">'+
                                Math.round(data.comparative*100) + '%' +
                            '</div>'+
                            '<div class="">'+
                                '<a href="https://twitter.com/AlexCanion/status/' + data.id_str + '" style="color:#333;" target="popup" onclick="window.open(\'https://twitter.com/AlexCanion/status/' + data.id_str + '\', \'popup\', \'width=600,height=600\'); return false;">' +
                                    '<p>'+
                                        data.text +
                                    '</p>'+
                                '</a>'+
                                '<p class="pull-right">'+
                                    data.created_at
                                '</p>'+
                            '</div>'+
                        '</div>'+
                    '</div>';
                $('.d-col-negative').prepend(posHTML);

                showTopWords(data);
            })

            socket.on('noSentimentTwit', function(data){
                 var noSentimentHTML = 
                    '<div class="panel panel-default" style="margin-top:20px;">'+
                        '<div class="panel-body">'+
                            '<div class="pull-right" style="color:green;">'+
                                Math.round(data.comparative*100) + '%' +
                            '</div>'+
                            '<div class="">'+
                                '<a href="https://twitter.com/AlexCanion/status/' + data.id_str + '" style="color:#333;" target="popup" onclick="window.open(\'https://twitter.com/AlexCanion/status/' + data.id_str + '\', \'popup\', \'width=600,height=600\'); return false;">' +
                                    '<p>'+
                                        data.text +
                                    '</p>'+
                                '</a>'+
                                '<p class="pull-right">'+
                                    data.created_at
                                '</p>'+
                            '</div>'+
                        '</div>'+
                    '</div>';
                $('.d-col-noSentiment').prepend(noSentimentHTML);

                showTopWords(data);
            })

            socket.on('disconnect', function(data){
                alert("Disconnected from the server! Please try again.");
            })
        })

        function showTopWords(data){
            var topHTML = '<h4>Top words used with '+ $('#searchText').val() +'</h4>';
            var topwords = data.topTokens;
            for(var i = 0; i < topwords.length -1; i++){
                if(topwords[i] != null){
                    topHTML += i+1 + ': ' + topwords[i] + '   ' ;
                }
            }                
            $('.d-top-words').html(topHTML);

            drawSentimentIframe(data);
        }

        function drawSentimentIframe(data){
            document.getElementById('sentimentiframeID').contentWindow.change(document.getElementById('sentimentiframeID').contentWindow.randomData(data.positiveCount, data.negativeCount, data.noSentimentCount));
            return;   
            var iFrameDoc = /*$('.d-sentiment-iframe').contentDocument || */document.getElementById('sentimentiframeID').contentWindow.document;
            iFrameDoc.open();
            iFrameDoc.write(getIframeContent());
            iFrameDoc.close();

            var script = document.getElementById('sentimentiframeID').contentWindow.document.createElement("script");
            script.type = "text/javascript";
            script.src = getIframeScript();
            document.getElementById('sentimentiframeID').contentWindow.document.body.appendChild(script);
        }

    script.        
        function socketEmitFunction(){
            var keyword = $('#searchText').val();
            socket.emit('join', keyword);
        }
        
        $('#searchText').on('keyup', function(e){

            if( e.keyCode == 13 && $('#liveToggle').prop('checked')){
                //- getFilters();
                $('.d-col-positive').html('');
                $('.d-col-negative').html('');
                $('.d-col-noSentiment').html('');
                $('.d-top-words').html('');
                socketEmitFunction();
                $('.d-analysis-panel').show();
                $('.windows8').show();
                $('.pause-bar').show();   
                $('.content').show();    
                var topHTML = '<h4>Top words used with '+ $('#searchText').val() +'</h4>';
                $('.d-top-words').html(topHTML);
                
                //Hide scale Table
                //$('.hideScaleTable').hide();
                $('#dataTree').hide();
                $('.visualizationLabel').hide();
                $('#moreTableBody').html('');
                $('.moreTable').hide();
                $('.moreDataLabel').hide();
            }
        })

        $('#liveToggle').on('switchChange.bootstrapSwitch', function(event, state) {
            if(state){
                //socketEmitFunction();                
                console.log("Resume");
                socket.emit('join', "resume");
                $('.windows8').show();
            }
            else{
                console.log("disconnect");
                socket.emit('join', "disconnect");
                $('.windows8').hide();
            }
        });

        $('.d-get-more').on('click', function(){
            $.ajax({
                url:'/search/getMoreData', 
                type:'POST',
                data:{socketId:socket.id},
                success: function(data){
                    $('#moreTableBody').html('');
                    
                    var totalData = data.data;
                    
                    var hashData = totalData[0].hashData;
                    var hashDataLength;
                    if(hashData) hashDataLength = hashData.length;
                    else hashDataLength = 0;
                    
                    var sentimentData = totalData[0].sentimentWords;
                    var sentimentDataLength;
                    if(sentimentData) sentimentDataLength = sentimentData.length;
                    else sentimentDataLength = 0;
                    
                    var location = totalData[0].location;
                    var locationLength;
                    if(location) locationLength = location.length;
                    else locationLength = 0;
                    
                    var peopleData = totalData[0].peopleData;
                    if(peopleData) peopleDataLength = peopleData.length;
                    else peopleDataLength = 0;
                    
                    var organizationData = totalData[0].organizationData;
                    var organizationDataLength;
                    if(organizationData) organizationDataLength = organizationData.length;
                    else organizationDataLength = 0;

                    var companyData = totalData[0].companyData;
                    var companyDataLength;
                    if(companyData) companyDataLength = companyData.length;
                    else companyDataLength = 0;

                    var teamData = totalData[0].teamData;
                    var teamDataLength;
                    if(teamData) teamDataLength = teamData.length;                    
                    else teamDataLength = 0;

                    var maxLength = Math.max(hashDataLength, sentimentDataLength, locationLength);
                    for(var i = 0; i < maxLength; i++){
                        var hashValue = i<hashDataLength-1?hashData[i]:'-';
                        var sentimentValue = i<sentimentDataLength-1?sentimentData[i]:'-';
                        var locationValue = i<locationLength-1?location[i]:'-';
                        var peopleValue = i<peopleDataLength-1?peopleData[i]:'-';                        
                        var organizationValue = i<organizationDataLength-1?organizationData[i]:'-';
                        var companyValue = i<companyDataLength-1?companyData[i]:'-';
                        var teamValue = i<teamDataLength-1?teamData[i]:'-';
                        
                        var rowHTML = 
                            '<tr>'+
                                '<td>'+ hashValue + '</td>'+
                                    '<td>' + locationValue + '</td>' +
                                    '<td>' + peopleValue + '</td>' +
                                    '<td>' + organizationValue + '</td>' +
                                    '<td>' + companyValue + '</td>' +
                                    '<td>' + teamValue + '</td>' +
                                    '<td>' + sentimentValue + '</td>' +
                            '</tr>';
                        $('#moreTableBody').append(rowHTML);                            
                    }
                    
                    updateTree(data.data);
                    $('#dataTree').show();
                    $('.visualizationLabel').show();
                    $('.moreTable').show();
                    $('.moreDataLabel').show();

                }
            })
        })
        
        function updateTree(data){
            if(!data) return;
            console.log(data);
            var totalData = data[0];
            var jsonData = '{'+
                '"name":"' + totalData.keyword + '",'+
                '"children": [';
            if(totalData.hashData){
                    //HashData
                jsonData +=
                    '{'+
                        '"name": "hashData",'+
                        '"children": [';
                for(var i = 0; i < totalData.hashData.length; i++){
                    var hashValue = totalData.hashData[i];                
                    jsonData +=
                            '{"name": "'+hashValue + (i==totalData.hashData.length-1 ? '", "size": 100}' : '", "size": 100},' );
                }            
                jsonData += 
                        ']' + 
                    '},';
            }
            if(totalData.peopleData){
                    jsonData +=
                    //PeopleData
                    '{'+
                        '"name": "peopleData",'+
                        '"children": [';
                for(var i = 0; i < totalData.peopleData.length; i++){
                    var peopleValue = totalData.peopleData[i];                
                    jsonData +=
                            '{"name": "'+peopleValue + (i==totalData.peopleData.length-1 ? '", "size": 100}' : '", "size": 100},' );
                }
                
                jsonData += 
                        ']' + 
                    '},';
            }
            if(totalData.location){
                    jsonData +=
                    //location
                    '{'+
                        '"name": "location",'+
                        '"children": [';
                for(var i = 0; i < totalData.location.length; i++){
                    var locationValue = totalData.location[i];                
                    jsonData +=
                            '{"name": "'+locationValue + (i==totalData.location.length-1 ? '", "size": 100}' : '", "size": 100},' );
                }
                
                jsonData += 
                        ']' + 
                    '},';
            }
            if(totalData.sentimentWords){
                    //SentimentWords
                    jsonData +=
                    '{'+
                        '"name": "sentimentWords",'+
                        '"children": [';
                for(var i = 0; i < totalData.sentimentWords.length; i++){
                    var sentimentWord = totalData.sentimentWords[i];                
                    jsonData +=
                            '{"name": "'+sentimentWord + (i==totalData.sentimentWords.length-1 ? '", "size": 100}' : '", "size": 100},' );
                }
                
                jsonData += 
                        ']' + 
                    '},';
            }
            if(totalData.teamData){
                    //Team Data
                    jsonData +=
                    '{'+
                        '"name": "teamData",'+
                        '"children": [';
                for(var i = 0; i < totalData.teamData.length; i++){
                    var teamValue = totalData.teamData[i];                
                    jsonData +=
                            '{"name": "'+teamValue + (i==totalData.teamData.length-1 ? '", "size": 100}' : '", "size": 100},' );
                }            
                jsonData += 
                        ']' + 
                    '},';
            }
            if(totalData.organizationData){
                    //OrganizationData
                    jsonData+=
                    '{'+
                        '"name": "organizationData",'+
                        '"children": [';
                for(var i = 0; i < totalData.organizationData.length; i++){
                    var organizationValue = totalData.organizationData[i];                
                    jsonData +=
                            '{"name": "'+organizationValue + (i==totalData.organizationData.length-1 ? '", "size": 100}' : '", "size": 100},' );
                }
                
                jsonData += 
                        ']' + 
                    '},';
            }
            if(totalData.companyData){
                //CompanyData
                    jsonData +=
                    '{'+
                        '"name": "companyData",'+
                        '"children": [';
                for(var i = 0; i < totalData.companyData.length; i++){
                    var peopleValue = totalData.companyData[i];                
                    jsonData +=
                            '{"name": "'+peopleValue + (i==totalData.companyData.length-1 ? '", "size": 100}' : '", "size": 100},' );            
                }
                jsonData += 
                        ']' + 
                    '},';
            }

            if(jsonData[jsonData.length -1] == ','){
                jsonData = jsonData.slice(0, -1);
            }
            jsonData +=
                ']' + 
                '}';
            console.log(jsonData);
            jsonDataSave = jsonData;
            var treeInputData = JSON.parse(jsonData);
            //console.log(treeInputData);
            document.getElementById('dataTreeIframe').contentWindow.change(treeInputData);            
        }

        $('.showInScale').on('click', function(){            
            $('#dataTree').show();
            $('.hideScaleTable').show();
        });

        $('.hideScaleTable').on('click', function(){
            $('#dataTree').hide();
            $(this).hide();
        })        
        

        $('.export').on('click', function(){
            console.log(jsonDataSave);
            var blob = new Blob([jsonDataSave],{type:"text/plain;charset=utf-8"});
            saveAs(blob,"output.json");
        })